    * {
      box-sizing: border-box;
    }
    #annualmap.slider {
        width: 80%;
        margin: 50px auto;
        }
    #wordcloud.slider-nav {
        width: 33%;
        margin: 10px auto;
        padding:-30px;
        }
    #wordcloud.slider-for {
    	width: 40%;
        margin: 20px auto;
        padding:-30px;
        
        }

    .slick-slide {
      margin: 0px 20px;
      bottom: -30px;
      padding:-30px;
    }
    .slick-slide img {
      width: 100%;
    }
    .slick-prev:before,
    .slick-next:before {
        color: black;
    }